APP_ENV=development
LOG_LEVEL=INFO
ALLOWED_ORIGINS=["http://localhost:3000"]
MAX_UPLOAD_SIZE_MB=500
MAX_FRAMES_ANALYZED=32
MODEL_REPO_ID=accel69/depfake-detection
MODEL_FILENAME=ig.bin
MODEL_NAME=ResNeXt-101 32x8d Deepfake Detector
